<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400113838642-e36qlbduo4deolchovc5uk8mhdbjvgg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400113838642-e36qlbduo4deolchovc5uk8mhdbjvgg6</string>
	<key>API_KEY</key>
	<string>AIzaSyBx_rnmtwL_yC5BVa7vmccpeDji4Do3iJI</string>
	<key>GCM_SENDER_ID</key>
	<string>400113838642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youjong.elog</string>
	<key>PROJECT_ID</key>
	<string>elog-d6ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>elog-d6ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400113838642:ios:40a6e70b1628702a7fea2b</string>
</dict>
</plist>